@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Helvetica;
}

/* Start Navbar section */
.navbar {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    background-color: lightblue;
    height: 90px;
    weight: 100%;
}

.nav-button:hover {
    border-bottom: white 2px solid;
}

.nav-logo {
    color: white;
    margin-right: 10px;
    font-size: 25px;
    font-family: 'Style Script', cursive;
}

.nav-link {
    display: flex;
}

.nav-button {
    color: white;
    margin-left: 10px;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-auth {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    color: white;
    border: white 2px solid;
    width: 4rem;
    height: 2rem;
    border-radius: 4px;
    font-size: 12px;
}

.login {
    background-color: darkgreen;
}

.login:hover {
    background-color: lightgreen;
    color: black;
}

.register {
    background-color: darkorange;
}

.register:hover {
    background-color: lightsalmon;
    color: black;
}

/* End Navbar section */